body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    background-color: white;
}

form {
    display: block;
    text-align: center;
}

input[type=text] {
    width: 500px;
    padding: 12px 20px;
    margin: 12px auto;
    display: block;
    box-sizing: border-box;
}

input[type=password] {
    width: 500px;
    padding: 12px 20px;
    margin: 12px auto;
    display: block;
    box-sizing: border-box;
}

#login-button {
    background-color: lightgray;
    border: 2px solid black;
    color: black;
    padding: 12px 20px;
    margin: 12px;
    font-size: 16px;  
    cursor: pointer;
    border-radius: 15px; 
}

#navbar {
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    padding: 20px;
}

#nav-locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active-location {
    width: 66%;
    padding: 12px;
    background: #5e7139;
    color: white;
    border-right: 2px solid white;
    border-left: 2px solid white;
    cursor: pointer;
}

.inactive-location {
    width: 66%;
    padding: 12px;
    background: #D3D3D3;
    border-right: 2px solid white;
    border-left: 2px solid white;
    color: black;
    cursor: pointer;
}

#first-location {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 2px solid white;
    border-bottom: none;
}

.location {
    border-top: 2px solid white;
    border-bottom: none;
}

#last-location {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.active-location {
    background-color: #5e7139;
    color: white;
}

#nav-main {
    display: flex;
    flex-direction: column;    
}

#nav-links {
    display: flex;
    flex-direction: row; 
    justify-content: center;    
}

#nav-profile {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;      
}

#user {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

#circle {
    align-self: center;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
}

#circle h2 {
    margin: 0px;
}

.hide {
    display: none;
}
  
#user:hover .hide {
    display: block;
    color: white;
}

#user:hover #circle {
    display: none;
}

#nav-profile button {
    align-self: center;
    padding: 12px 20px;
    background: #D3D3D3;
    border: 2px solid white;
    color: black;
    cursor: pointer; 
    border-radius: 15px;   
}

#options {
    padding: 20px;
}

.option {
    width: 100px;
    height: 50px;
    background: #D3D3D3;
    border: 2px solid black;
    color: black;
    cursor: pointer; 
    border-radius: 15px; 
    margin: 20px;   
}

.add-container {
    padding: 20px;

}

.add-container .css-b62m3t-container {
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.add-button {
    background-color: #5e7139;
    border: 2px solid white;
    color: white;
    padding: 12px 20px;
    margin: 20px;
    font-size: 16px;  
    cursor: pointer;
    border-radius: 15px;      
}

#back-button {
    position: absolute;
    left: 0;
    background: none;
    border: none;
    cursor: pointer;
}

#back {
    height: 40px;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid darkgrey;
}

.filter input[type=text] {
    align-self: center;
    max-height: 40px;
    width: 300px;
    margin: 20px;
}

.filter .css-b62m3t-container {
    align-self: center;
    font-size: smaller;
}

.display-page {
    display: grid;
    grid-template-columns: 25% 75%;
}

.list {
    height: 100vh;
    overflow-y: scroll;
    border-right: 2px solid black
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
}
  
::-webkit-scrollbar-track {
background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.clickable {
    cursor: pointer;
}

.active-option {
    background-color: #5e7139;
    color: white;
    padding: 15px;
}

.display {
    margin: 20px
}

.display-options {
    margin: auto;
    width: 444px;
    border-bottom: 2px solid gray;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.display-options button {
    background-color: white;
    border: none;
    font-size: larger;
    width: 100px;
    justify-self: center;
    padding: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.display-options .active {
    background-color: #5e7139;
    color: white;
}

.box {
    margin: auto;
    width: 400px;
    padding: 20px;
    border: 2px solid black;
}

.details {
    display: grid;
    grid-template-columns: 50% 50%;
}

.edit-container input[type=text] {
    max-width: 300px;
}

.edit-container .css-b62m3t-container {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.date {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-self: center;
}

input[type=date] {
    height: 40px;
    align-self: center;
    margin-top: 10px;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.edit-order {
    display: grid;
    grid-template-columns: 50% 20% 20% 10%;
}

input[type="number"] {
    text-align: center;
    margin: 10px;
}

.not-disabled {
    margin: 10px;
    background-color: #5e7139;
    color: white;
    border: none;
    border-radius: 15px
}

.disabled {
    margin: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 15px;
}

.remove {
    height: 30px;
    width: 30px;
    margin: 10px;
    background-color: #973737;
    color: white;
    border: none;
    border-radius: 50%; 
}

.remove:hover {
    height: 30px;
    width: 30px;
    margin: 10px;
    background-color: #be3838;
    color: white;
    border: none;
    border-radius: 50%; 
}

#add-product-order {
    font-size: larger;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    background-color: #5e7139;
    color: white;
    border: none;
    border-radius: 50%
}

#add-product-order:hover {
    font-size: larger;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    background-color: #698434;
    color: white;
    border: none;
    border-radius: 50%
}